body {
  background-color: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
